body{
  background-color: #eaf6fd;
}
h1 {
  font-family: serif;
}// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h2{
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  font-style: oblique;
  text-shadow: 1px 1px 1px gray;
}
.form-label {
  font-size: 20px;
  background-color: lightblue;
}

.form-group {
  width: 600px;
}

.post-index {
  
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
  
  
}
.post-article{
  width: 333px;
  height: 350px;
  border: 1px solid #dee2ed;
  margin: 5px;
  background-color: #ffffff;
}
.post-article-name{
  display: flex;
  justify-content: space-between;
}
.comment-show {
  display: block;
  padding: 0 15px ;
}
h3 {
  margin-top: 4px;
  margin-bottom: 0;
}
.comment-space{
  margin-left: 60px;
}
.show-span {
  margin-left: 160px;
}
.fa-size {
  font-size: 1.5em;
}
.contener{
  max-width: 100%;
}
.boder {
 color: #ffffff;
}