h1 {
  font-family: serif;
}// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cover-new {
  height: 100%;
  width: 100%;
  background-image: url(/assets/sango.jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: normal;
  background-size: 100% 100%;
}
.form-label {
  font-size: 20px;
  background-color: lightblue;
}

.form-group {
  width: 600px;
}
