.akounto{
 text-align: center;
 border: 1px solid #000;
 padding-bottom: 10px;
 background-color: #d4f3f3;
}
.akounto > h2 {
	margin-top: 15px;
}
.akounto-text{
	display: inline-block;
	text-align: left;
	margin-left: 70px;
}
.akounto-form {
	margin-top: 8px;
}
.akount-action {
 margin-top: 15px;
}