.sessions{
	text-align: center;
	width: 100%;
	height: 100%;
	border: 1px solid #000;
 padding-bottom: 10px;
 background-color: #d4f3f3;
}
.sessions-box > h2 {
	margin-top: 30px;
	font-size: 30px
}
.sessions-email {
	margin-top: 30px;
}
.sessions-password {
	margin-top: 30px;
}
.sessions-auto-rogin {
  margin-top: 30px;
}
.sessions-rogin {
	margin-top: 20px;
}
.sessions-password-forget{
	margin-top: 30px;
	font-size: 20px;
}
.sessions-akount {
	margin-top: 30px;
	font-size: 20px;
}

