// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.contener {
    max-width: 100%;
    border-bottom: black;
}
.user-show-image{
    width: 100%;
    background-color: #eaf6fd;
    display: flex;
    //height: 900px;
    //width: 100%;
   // background-image: url(/assets/umi4.jpg);
   //background-size: cover;
   //background-postion-x: center;
   //background-postion-y: center;
}
.user-show {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.icon-mini{
    margin-top: 30px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 200px;
    cursor: pointer;
  }
  .user-show-text{
    text-align: center;
    margin-top: 40px;
    margin-left: 30px;
  }
  .user-show-text2 {
    margin-top: 10px;
  }
  .user-show--purofiru {
    margin-left: 30px;
    font-size: 20px;
    position: absolute;
    top: 0px;
    right: 50px;
  }
.show-post-index {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border-top: 1px solid #dee2e6;
  
}
.edit-form {
    margin: 0 0 0 75px ;
}
.edit-form-label{
    margin-top: 1px;
}
.edit-form-bottan {
    text-align: center;
    margin: 10px;
}
.edit-withdrawal {
    border-top: 1px solid #dee2e6;
    padding-top: 40px;
    color: red;
    text-align: center;
    
}
.show-user-index {
  
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    
    
  }
.show-user-article {
    width: 402px;
    height: 420px;
    border: 1px solid #dee2ed;
    margin: 5px;
    background-color: #ffffff;
  }
  .show-user-edit {
    background-color: #eaf6fd;
  }
  .user-password {
    text-align: center;
    padding-top: 10px;
    background-color: #d4f3f3;
  }
  .user-password > p {
    margin-top: 30px;
  }
  .user-password-field {
    margin-top: 15px;
  }
  .user-password-actions {
    margin-top: 20px;
  }
  @media screen and (max-width: 767px) {

    .user-show-image {
      display: block;
      text-align: center;
    }
    .user-show {
      display: block;
      justify-content: center;
    }

.icon-mini{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-right: 0px;
    object-fit: cover;
    border-radius: 100px;
    cursor: pointer;
  }
  .user-show-text{
    text-align: center;
    margin-top: 4px;
    margin-left: 0px;
  }
  .user-show-text2 {
    margin-top: 10px;
  }
  .user-show--purofiru {
    margin-left: 30px;
    font-size: 20px;
  }

  }